<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">

  <span class="mr-3 mdi mdi-24px mdi-account-group"></span>

  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">ประเภทเจ้าหน้าที่</h6>
    <small>จัดการข้อมูลประเภทเจ้าหน้าที่</small>
  </div>

</div>

<button class="btn btn-success">
  <span class="mdi mdi-account-plus"></span>
  เพิ่มรายการ
</button>

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>ชื่อประเภทเจ้าหน้าที่</th>
      <th style="width: 100px;">#</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.employee_type_name}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-secondary">
            <span class="mdi mdi-account-edit"></span>
          </button>
          <button class="btn btn-danger" (click)="doRemove(item)">
            <span class="mdi mdi-account-remove"></span>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-1">
      <select (change)="getEmployeeTypes()" class="form-control" name="pageCount" id="pageCount" [(ngModel)]="pageSize">
        <option [value]="item" *ngFor="let item of pageSizeItems">{{item}}</option>
      </select>
    </div>
    <div class="col-md-5">
      <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="total" [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>

</div>
