<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">

  <span class="mr-3 mdi mdi-24px mdi-account-group"></span>

  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">ข้อมูลการลา</h6>
    <small>จัดการข้อมูลการลา</small>
  </div>

</div>

<div class="row">
  <div class="col-md-8 col-sm-6">
    <button class="btn btn-success" (click)="openModal()">
      <span class="mdi mdi-plus"></span>
      บันทึกลาหยุด
    </button>
  </div>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <table class="table hover">
    <thead>
    <tr>
      <th>วันที่ลา</th>
      <th>จำนวนวัน</th>
      <th>ประเภทการลา</th>
      <th>ปีงบประมาณ</th>
      <th style="width: 100px;">สถานะ</th>
      <th style="width: 100px;">#</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.start_date | thaiDate}} - {{item.end_date | thaiDate}}</td>
      <td>{{item.leave_days | number}}</td>
      <td>{{item.leave_type_name}}</td>
      <td>{{item.period_name}}</td>
      <td>{{item.leave_status}}</td>
      <td>
        <span class="mdi mdi-check text-success" *ngIf="item.is_enabled === 'Y'"></span>
        <span class="mdi mdi-close text-danger" *ngIf="item.is_enabled === 'N'"></span>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-secondary" (click)="openModal(item)">
            <span class="mdi mdi-account-edit"></span>
          </button>
          <button class="btn btn-danger" (click)="doRemove(item)">
            <span class="mdi mdi-account-remove"></span>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-1">
      <select (change)="getLeaves()" class="form-control" name="pageCount" id="pageCount" [(ngModel)]="pageSize">
        <option [value]="item" *ngFor="let item of pageSizeItems">{{item}}</option>
      </select>
    </div>
    <div class="col-md-5">
      <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="total" [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</div>

<app-modal-new-leave (onSave)="onSave($event)" #mdlNewLeave></app-modal-new-leave>
