<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">

  <span class="mr-3 mdi mdi-24px mdi-account-group"></span>

  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">ประมวลผลวันลา</h6>
    <small>กำหนดวันลาใหม่/โอนวันลาระหว่างปีงบประมาณ</small>
  </div>

</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <div class="row">
    <div class="col-md-3">
      ปีงบประมาณปัจจุบัน : <span class="text-danger">{{currentPeriodName}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <!-- <span class="text-danger">ปีงบประมาณปัจจุบัน : {{currentPeriodName}}</span> -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">ปีงบประมาณปัจจุบัน (ตั้งต้น)</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="oldPeriodId">
          <option selected>เลือก...</option>
          <option [value]="item.period_id" *ngFor="let item of periods">{{item.period_name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <!-- <span class="text-danger">ปีงบประมาณปัจจุบัน : {{currentPeriodName}}</span> -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">ปีงบประมาณใหม่</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="nextPeriodId">
          <option selected>เลือก...</option>
          <option [value]="item.period_id" *ngFor="let item of periods">{{item.period_name}}</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-success" type="button" (click)="doProcess()">สร้างวันลาสำหรับปีงบประมาณ</button>
        </div>
      </div>
    </div>
  </div>

</div>
