<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">

  <span class="mr-3 mdi mdi-24px mdi-account-group"></span>

  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">ประมวลผลวันลา</h6>
    <small>กำหนดวันลาใหม่/โอนวันลาระหว่างปีงบประมาณ</small>
  </div>

</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <div class="row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">เลือกปีงบประมาณ</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>เลือก...</option>
          <option value="1">ปีงบประมาณ 2562</option>
          <option value="2">ปีงบประมาณ 2563</option>
          <option value="3">ปีงบประมาณ 2564</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-success" type="button">สร้างวันลาสำหรับปีงบประมาณ</button>
        </div>
      </div>
    </div>
  </div>

</div>
