<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">

  <span class="mr-3 mdi mdi-24px mdi-account-group"></span>

  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">สรุปข้อมูลการลาหยุด</h6>
    <small>สรุปข้อมูลการลาหยุดทั้งหมดของปี</small>
  </div>

</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">

  <div class="row">
    <div class="col-md-6">
      <div id="chart1"></div>
    </div>
    <div class="col-md-6">
      <div id="chart2"></div>
    </div>
  </div>
  <hr>
  <p class="h3 mt-3">สถิติการลา</p>
  <div class="row">
    <div class="col-md-6 mt-3" *ngFor="let item of itemsSummary">
      <div class="card border-success">
        <div class="card-body">
          <h5 class="card-title">
            {{item.leave_type_name}}
          </h5>
          <div class="card-text">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>วันลาล่าสุด</th>
                  <th>ลาทั้งหมด (วัน)</th>
                  <th>คงเหลือ (วัน)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{item.last_leave_day | thaiDate}}</td>
                  <td>{{item.current_leave | number}}</td>
                  <td>
                    <span class="text-muted" *ngIf="item.leave_days_num === 0">ไม่จำกัด</span>
                    <span *ngIf="item.leave_days_num !== 0"
                      [ngClass]="{'text-danger': item.remain_days < 0, 'text-success': item.remain_days >= 0}">{{item.remain_days | number}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
