<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">

  <span class="mr-3 mdi mdi-24px mdi-account-group"></span>

  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">ข้อมูลส่วนตัว</h6>
    <small>จัดการข้อมูลส่วนตัว</small>
  </div>

</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">

  <div class="row">

    <div class="col-md-9">
      <table class="table">
        <tbody>
          <tr>
            <th>username</th>
            <td>{{ username }}</td>
            <th>&nbsp;</th>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th>ชื่อ</th>
            <td><input type="text" style="width: 250px;" class="form-control" name="firstName" [(ngModel)]="firstName">
            </td>
            <th>สกุล</th>
            <td><input type="text" style="width: 250px;" name="lastname" id="lastName" class="form-control"
                [(ngModel)]="lastName"></td>
          </tr>
          <tr>
            <th>รหัสผ่าน</th>
            <td>
              <input type="password" placeholder="รหัสผ่านใหม่" class="form-control" name="password"
                [(ngModel)]="password">
              <small id="emailHelp" class="form-text text-muted">กรุณาระบุรหัสผ่านหากต้องการเปลี่ยน
                หากไม่ต้องการเปลี่ยนให้ปล่อยว่างไว้</small>
            </td>
            <th>&nbsp;</th>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th>หน่วยงานหลัก</th>
            <td colspan="3">{{departmentName}}</td>
          </tr>
          <tr>
            <th>หน่วยงานย่อย</th>
            <td colspan="3">{{subDepartmentName}}</td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-primary" (click)="save()">
        <span class="mdi mdi-content-save"></span>
        ปรับปรุงข้อมูล
      </button>
    </div>

    <div class="col-md-3">
      <div class="float-right mb-3">
        <img style="width: 250px; height: 250px;" [src]="imageUrl" alt="image profile" class="img-thumbnail mb-2">
        <br>
        <label class="btn btn-sm btn-success" style="margin: 0px;">
          <input type="file" #file accept="image/*" style="display: none;" (change)="fileChangeEvent($event)">
          <span class="mdi mdi-camera"></span> เลือกไฟล์...
        </label>
        <!-- <span class="text-muted">{{fileName}}</span> -->
      </div>
    </div>

  </div>

</div>
