<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">

  <span class="mr-3 mdi mdi-24px mdi-account-group"></span>

  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">หน่วยงาน</h6>
    <small>จัดการข้อมูลหน่วยงาน</small>
  </div>

</div>

<button class="mb-3 btn btn-success">
  <span class="mdi mdi-account-plus"></span>
  เพิ่มรายการ
</button>

<table class="table hover">
  <thead>
  <tr>
    <th>ชื่อหน่วยงาน</th>
    <th style="width: 100px;">#</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>ศูนย์ประกันสุขภาพ</td>
    <td>
      <div class="btn-group">
        <button class="btn btn-secondary">
          <span class="mdi mdi-account-edit"></span>
        </button>
        <button class="btn btn-danger">
          <span class="mdi mdi-account-remove"></span>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
