<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">

  <span class="mr-3 mdi mdi-24px mdi-account-group"></span>

  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">หน่วยงาน</h6>
    <small>จัดการข้อมูลหน่วยงาน</small>
  </div>

</div>

<button class="btn btn-success" (click)="openModal()">
  <span class="mdi mdi-plus"></span>
  เพิ่มรายการ
</button>

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <table class="table hover">
    <thead>
    <tr>
      <th>ชื่อหน่วยงาน</th>
      <th style="width: 100px;">สถานะ</th>
      <th style="width: 100px;">#</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.department_name}}</td>
      <td>
        <span class="mdi mdi-check text-success" *ngIf="item.is_enabled === 'Y'"></span>
        <span class="mdi mdi-close text-danger" *ngIf="item.is_enabled === 'N'"></span>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-secondary" (click)="openModal(item)">
            <span class="mdi mdi-account-edit"></span>
          </button>
          <button class="btn btn-danger">
            <span class="mdi mdi-account-remove"></span>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="total" [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</div>

<app-modal-new-department (onSave)="onSaveDepartment($event)" #mdlNewDepartment></app-modal-new-department>
