<ul>
  <li *ngFor="let item of fruits">{{ item }}</li>
</ul>

<table border="1">
  <thead>
  <tr>
    <th>BRAND</th>
    <th>MODEL</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of cars; let idx = index;">
    <td>{{ item.brand }}</td>
    <td>{{ item.model }}</td>
    <td>{{ item.type }}</td>
    <td><button (click)="removeCar(idx)">X</button></td>
  </tr>
  </tbody>
</table>

<hr>

{{ title }}

Brand: <input type="text" [(ngModel)]="brand">
Model: <input type="text" [(ngModel)]="model">
Type:
<select name="type" id="type" [(ngModel)]="type">
  <option [value]="item" *ngFor="let item of types">
    {{item}}
  </option>
</select>
<button (click)="addCar()">Add</button>
