<p>
  page1 works!
</p>


<button class="btn btn-success" (click)="gotoPage2()">Go to page 2</button>
<button class="btn btn-primary" (click)="getUsers()">Refresh</button>
<button class="btn btn-danger" (click)="openModal()">Open Modal</button>

<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="currentDate" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <span class="mdi mdi-calendar"></span>
        </button>
      </div>
    </div>
  </div>
</form>

<table class="table hover">
  <thead>
  <tr>
    <th>Image</th>
    <th>Fullname</th>
    <th>Email</th>
    <th>Street</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of users">
    <td><img [src]="item.picture.thumbnail" class="img-thumbnail"></td>
    <td>{{item.name.title}}{{item.name.first}} {{item.name.last}}</td>
    <td>{{item.email}}</td>
    <td>{{item.location.street}}</td>
  </tr>
  </tbody>
</table>

<app-alert #modalAlert></app-alert>
