<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">

  <span class="mr-3 mdi mdi-24px mdi-account-group"></span>

  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">ข้อมูลการลา</h6>
    <small>จัดการข้อมูลการลา</small>
  </div>

</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">

  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>รออนุมัติ <span class="badge badge-danger">{{ draftItems.length | number }}</span></ng-template>
      <ng-template ngbTabContent>
        <table class="table hover">
          <thead>
          <tr>
            <th>ชื่อ - สกุล</th>
            <th>วันที่ลา</th>
            <th>จำนวนวัน</th>
            <th>ประเภทการลา</th>
            <th>หน่วยงานย่อย</th>
            <th style="width: 100px;">#</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of draftItems">
            <td>{{item.first_name}} {{item.last_name}}</td>
            <td>{{item.start_date | thaiDate}} - {{item.end_date | thaiDate}}</td>
            <td>{{item.leave_days | number}}</td>
            <td>{{item.leave_type_name}}</td>
            <td>{{item.sub_department_name}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-secondary" [disabled]="item.leave_status != 'DRAFT'" (click)="openModal(item)">
                  <span class="mdi mdi-account-edit"></span>
                </button>
                <button class="btn btn-danger" [disabled]="item.leave_status != 'DRAFT'" (click)="doRemove(item)">
                  <span class="mdi mdi-account-remove"></span>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-1">
            <select (change)="getLeaves()" class="form-control" name="pageCount" id="pageCount" [(ngModel)]="pageSize">
              <option [value]="item" *ngFor="let item of pageSizeItems">{{item}}</option>
            </select>
          </div>
          <div class="col-md-5">
            <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="total" [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>ดำเนินการแล้ว <span class="badge badge-danger">{{ approveItems.length | number }}</span></ng-template>
      <ng-template ngbTabContent>
        <table class="table hover">
          <thead>
          <tr>
            <th>ชื่อ - สกุล</th>
            <th>วันที่ลา</th>
            <th>จำนวนวัน</th>
            <th>ประเภทการลา</th>
            <th>หน่วยงานย่อย</th>
            <th style="width: 100px;">#</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of approveItems">
            <td>{{item.first_name}} {{item.last_name}}</td>
            <td>{{item.start_date | thaiDate}} - {{item.end_date | thaiDate}}</td>
            <td>{{item.leave_days | number}}</td>
            <td>{{item.leave_type_name}}</td>
            <td>{{item.sub_department_name}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-secondary" [disabled]="item.leave_status != 'DRAFT'" (click)="openModal(item)">
                  <span class="mdi mdi-account-edit"></span>
                </button>
                <button class="btn btn-danger" [disabled]="item.leave_status != 'DRAFT'" (click)="doRemove(item)">
                  <span class="mdi mdi-account-remove"></span>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-1">
            <select (change)="getLeaves()" class="form-control" name="pageCount" id="pageCount" [(ngModel)]="pageSize">
              <option [value]="item" *ngFor="let item of pageSizeItems">{{item}}</option>
            </select>
          </div>
          <div class="col-md-5">
            <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="total" [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>

<app-modal-new-leave (onSave)="onSave($event)" #mdlNewLeave></app-modal-new-leave>
