<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">

  <span class="mr-3 mdi mdi-24px mdi-account-group"></span>

  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">ข้อมูลการลา</h6>
    <small>จัดการข้อมูลการลา</small>
  </div>

</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">

  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>รออนุมัติ <span class="badge badge-danger">{{ draftItems.length | number }}</span>
      </ng-template>
      <ng-template ngbTabContent>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ชื่อ - สกุล</th>
              <th>วันที่ลา</th>
              <th>จำนวนวัน</th>
              <th>ประเภทการลา</th>
              <th>หน่วยงานย่อย</th>
              <th style="width: 200px;">#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="draftItems.length === 0">
              <td colspan="6">
                <h6 class="text-muted">ไม่พบรายการ</h6>
              </td>
            </tr>
            <tr *ngFor="let item of draftItems">
              <td>{{item.first_name}} {{item.last_name}}</td>
              <td>{{item.start_date | thaiDate}} - {{item.end_date | thaiDate}}</td>
              <td>{{item.leave_days | number}}</td>
              <td>{{item.leave_type_name}}</td>
              <td>{{item.sub_department_name}}</td>
              <td>
                <div class="btn-group">
                  <div ngbDropdown placement="left">
                    <button class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>
                      <span class="mdi mdi-menu"></span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem [disabled]="item.leave_status != 'DRAFT'" (click)="doApproved(item)">
                        <span class="mdi mdi-check text-success"></span> อนุมัติ
                      </button>
                      <button ngbDropdownItem [disabled]="item.leave_status != 'DRAFT'" (click)="doDeny(item)">
                        <span class="mdi mdi-close text-danger"></span> ปฏิเสธ
                      </button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>
                        <span class="mdi mdi-history"></span> ประวัติการลา</button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-1">
            <select (change)="getDraftLeaves()" class="form-control" name="pageCount" [(ngModel)]="pageSize">
              <option [value]="item" *ngFor="let item of draftPageSizeItems">{{item}}</option>
            </select>
          </div>
          <div class="col-md-5">
            <ngb-pagination (pageChange)="onDraftPageChange($event)" [collectionSize]="draftTotal" [pageSize]="pageSize"
              [(page)]="draftPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>รายการทั้งหมด <span class="badge badge-danger">{{ allTotal | number }}</span>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="row mt-2 mb-2">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-8">
                <div class="search-results">
                  <input placeholder="ระบุคำค้นหา..." class="form-control" [(ngModel)]="query" [value]="search"
                    ngxTypeahead [taUrl]="url" [taParams]="params" taApi="http"
                    (taSelected)="handleResultSelected($event)" [taItemTpl]="itemTpl">

                  <ng-template #itemTpl let-result>
                    <span>
                      {{ result.result.first_name }} {{ result.result.last_name }} - {{ result.result.position_name }}
                    </span>
                  </ng-template>
                </div>

              </div>
              <div class="col-md-4">
                <button class="btn btn-primary" (click)="refresh()">
                  <i class="mdi mdi-refresh"></i> แสดงทั้งหมด
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="float-right">
              <select style="width: 200px;" name="slStatus" id="slStatus" (change)="getAllLeaves()" [(ngModel)]="status"
                class="form-control">
                <option selected value="">เลือกสถานะ (ทั้งหมด)</option>
                <option [value]="item.value" *ngFor="let item of leaveStatus">{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>ชื่อ - สกุล</th>
              <th>วันที่ลา</th>
              <th>จำนวนวัน</th>
              <th>ประเภทการลา</th>
              <th>หน่วยงานย่อย</th>
              <th style="width: 100px;">#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="allItems.length === 0">
              <td colspan="6">
                <h6 class="text-muted">ไม่พบรายการ</h6>
              </td>
            </tr>
            <tr *ngFor="let item of allItems"
              [ngClass]="{'table-danger': item.leave_status === 'DENIED', 'table-success': item.leave_status === 'APPROVED'}">
              <td>{{item.first_name}} {{item.last_name}}</td>
              <td>{{item.start_date | thaiDate}} - {{item.end_date | thaiDate}}</td>
              <td>{{item.leave_days | number}}</td>
              <td>{{item.leave_type_name}}</td>
              <td>{{item.sub_department_name}}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-secondary" (click)="openHistory(item.employee_id)">
                    <span class="mdi mdi-magnify"></span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-1">
            <select (change)="getAllLeaves()" class="form-control" name="pageCount" [(ngModel)]="pageSize">
              <option [value]="item" *ngFor="let item of allPageSizeItems">{{item}}</option>
            </select>
          </div>
          <div class="col-md-5">
            <ngb-pagination (pageChange)="onAllPageChange($event)" [collectionSize]="allTotal" [pageSize]="pageSize"
              [(page)]="allPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>

<app-modal-leave-history #mdlHistory></app-modal-leave-history>
