<form action="" *ngIf="!isRegister">
  <div class="row">
    <div class="col-12">
      <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="username">
    </div>
    <div class="col-12">
      <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="password">
    </div>
    <div class="col-12">
      <button class="btn btn-success" (click)="register()">Register</button>
    </div>
  </div>
</form>
<span *ngIf="isRegister">ลงทะเบียนเสร็จสิ้น</span>
